.cont{
    /* background-color: rgb(254, 254, 254); */
  
}

.masjidheading{
    font-size: 60px;
    color: rgba(189, 153, 153, 0.547);
    text-align: center;

}
.MasjidHeading{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
.Hrline{
    width: 600px;
    margin-left: 450px;
    color: rgb(0, 255, 170);
    /* margin-top: 100px; */
}
.HR{
    display: flex;
    justify-content: center;
    position: fixed;
}
.Masjidform{
    display: flex;
    justify-content: center;
  
    
}
.formss{
    width: 600px;
    height: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(209, 206, 204);
    border: 2px solid red ;
    /* border-radius: 10%; */
    /* box-shadow: 5px 10px  #acabab; */
}
    

.tablerow{
    display: table-row;
    
}
.tablecells{
    display: table-cell;
    
}
.masjidinput{
    padding-left: 90px;
    padding-top: 20px;
}
.formbutton{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
button{
    width: 180px;
    height: 30px;
    background-color: rgb(105, 105, 239);
    color: white;
    border-radius: 20%;
    font-size: 15px;
}
.sellect{
    width: 260px;
    height: 40px;
    border: solid 1px rgb(248, 176, 176);
    font-size: 18px;
}
.inputbox{
    width: 260px;
    height: 40px;
    /* background-color: antiquewhite; */
    border: solid 1px rgb(248, 176, 176);
    font-size: 18px;
}
.labels{
    font-family:' Verdana, Geneva, Tahoma, sans-serif';
    font-size: 25px;
    padding-left: 80px;
    font-style: italic;
}
.description{
    border: solid 1px rgb(248, 176, 176);
    font-size: 18px;
}
@media only screen and (max-width: 460px) {
    .masjidheading{
        padding-left: 20px;
        font-size: 40px;
    }
    .Hrline{
        width: 410px;
    }
    .labels{
        font-size: 15px;
    }
    .inputbox{
        width:180px;
    }
    .sellect{
        width: 180px;
    }
    .description{
        width: 180px;
    }
    .masjidinput{
        padding-left: 50px;
    }
}
@media only screen and (max-width: 380px) {
    .Hrline{
        width: 300px;
    }
}