.containercard{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.marginlisthead{
    text-align: center;
    margin: 30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(87, 46, 46);
}
.masjidtexts{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: rgb(24, 23, 23);
}
.masjidpara{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: rgb(99, 97, 97);
}
.masjidtitle{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: rgb(77, 77, 77);
}